.todo-list--title {
    display: flex;
    color: white;
}

.add-new-todo--button {
    width: 100%;
    
}

.todo-list--list {
    padding: 20px 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    background-color: white;
    border-radius: 4px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.todo-list--list__header {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #999;
    color:#a4a5a7;
    font-weight: 600;
    padding-bottom: 5px;
}

.todo-list--list__header div {
    cursor: pointer;
}

.todo-entity {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #999;
}

.todo-entity:hover {
    padding: 10px;
  transform: scale(1.09); /* Increase size by 5% */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Add a shadow */
  background-color: #3498db; /* Change background color on hover */
  cursor: pointer; /* Change cursor to a pointer on hover */
  border-radius: 4px;
  background-color: #0faafa; /* A contrasting color */
  color: #fff
}

.todo-entity--desc {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.todo-entity--desc > div:first-child {
    font-weight: 600;
    font-size: 17px;
}

.todo-entity--desc > div:nth-child(2) {
    font-weight: 100;
    font-size: 14px;
}

.todo-entity--actions {
    display: flex;
    gap: 10px;
}

.todo-entity--actions > * {
    width: 25px;
}
