.todo-list--container {
    width: 40%;
}

.todo-list--header {
    display: flex;
    color: white;
    justify-content: space-between;
}

.todo-list--header button {
    cursor: pointer;
    align-self: center;
    border: none;
    font-size: 18px;
    font-weight: 600;
    background-color: transparent;
}

.todo-list--list {
    padding: 20px 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: white;
    border-radius: 4px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.todo-list--list__header {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #999;
    color:#a4a5a7;
    font-weight: 600;
    padding-bottom: 5px;
}

.todo-list--list__header .clear-all-tasks-button {
    cursor: pointer;
}


