.todo-list--actions {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding-bottom: 20px;
}

.todo-list--actions button {
    cursor: pointer;
    background-color: #18c58f;
    color: white;
    padding: 10px 20px;
    border-radius: 4px;
    border: none;
}

.todo-list--sorting-button {
    position: relative;
}

.todo-list--sorting-options {
    margin-top: 5px;
    position: absolute;
    padding: 10px;
    text-align: left;
    background-color: white;
    z-index: 1; 
    border: 1px solid #ccc; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3); 
    width: 100%;
}