.modal--container {
    position: fixed;
    inset: 0;
    z-index: 1000;
    background-color: rgba(0, 0, 0, .5);
}

.modal--wrapper {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    border-radius: 10px;
    background-color: #fefefe;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
}

.modal--title {
    text-align: center;
    font-weight: 500;
    font-size: 18px;
}

.modal--body {

}

.modal--buttons {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

.modal--button {
    cursor: pointer;
    border: 1px solid #3e97fd;
    border-radius: 4px;
    padding: 5px 10px;
    color: #3e97fd;
}

.modal--button.approve {
    background-color: #1d83ff;
    color: white
}

.modal--button:hover {
    background-color: #7278f0;
    color: white;
}