.App {
  text-align: center;
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.upper-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 250px;
  background: linear-gradient(to right, #8610d6, #0faafa);
}

.lower-background {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #f3f4f6; /* Adjust the color as needed */
}

.content-wrapper {
  position: absolute;
  top: 10%;
  left: 0;
  width: 100%;
  background-color: transparent; /* Make the content wrapper transparent */
  padding: 20px; /* Adjust padding as needed */
  overflow-y: auto; /* Add scrollbars for content overflow */
  
  /* Center content vertically and horizontally */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
